@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - admin</title>
    @Scripts.Render("~/bundles/scriptsbundle_admin")
    @Styles.Render("~/bundles/stylesbundle_admin")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/Admin/Home">Admin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Admin/Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Users">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Brands">Brands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Orders">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/OrderDetails">Order Details</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    <a class="nav-link" href="/Account/Logout">Logout <i class="fa fa-arrow-right"></i></a>
                </span>
            </div>
        </div>
    </nav>
    <div class="container my-5" style="background: #f5f5f5;">
        @RenderBody()
    </div>
</body>
</html>
