@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<div style=" border-bottom: 1px solid #c6c6c6; margin-bottom: 15px;">
    <a href="/Collections" style="font-size: 11px; text-transform: uppercase; display: block; padding: 15px 0;"><i class="fa fa-solid fa-chevron-left"></i> back to store</a>
</div>
<div style="padding-bottom: 50px;">
    <div>
        <p>
            ABOUT
            STORE CONCEPT
            UNSOUND RAGS IS A MENSWEAR SHOWROOM FOCUSED ON THE UNIQUE DESIGN ELEMENTS OF VINTAGE CLOTHING. OUR TEAM EMPHASIZES SOURCING GARMENTS THAT SHOW SIGNS OF AGING AND WEAR. WE LIKE TO SHOWCASE CLOTHES THAT OTHERS WOULD SEE AS IMPERFECT OR, IN SOME CASES, UNWEARABLE. WE TAKE PRIDE IN SELLING GARMENTS WITH THESE CHARACTERISTICS.
        </p>
    </div>
    <br />
    <div>
        <p>
            SHIPPING
            ALL DOMESTIC ORDERS ARE SHIPPED VIA USPS PRIORITY MAIL. INTERNATIONAL ORDERS ARE SHIPPED VIA UPS OR DHL EXPRESS INTERNATIONAL. ORDERS ARE PROCESSED WITHIN 1-3 BUSINESS DAYS.
            ONCE AN ORDER HAS BEEN PROCESSED, IT CAN NOT BE MODIFIED OR CANCELED.
        </p>
    </div>
    <br />
    <div>
        <p>
            INTERNATIONAL CUSTOMERS MAY BE SUBJECT TO DUTIES AND FEES, WHICH ARE OUT OF OUR CONTROL. UNFORTUNATELY, WE CAN NOT COVER THESE FEE’S AND HAVE NO WAY OF CALCULATING THE CHARGE BEFORE AN ORDER IS PLACED. THESE FEES WILL BE LEVIED TO YOU UPON ARRIVAL OF YOUR ORDER.
        </p>
    </div>
    <br />
    <div>
        <p>
            WE DO NOT SHIP ON WEEKENDS OR HOLIDAYS.
        </p>
    </div>
    <br />
    <div>
        <p>
            IF YOU HAVE QUESTIONS ABOUT YOUR ORDER PLEASE REACH OUT TO US VIA EMAIL AT: CONTACT@UNSOUNDRAGS.COM.
        </p>
    </div>
    <br />
    <div>
        <p>
            RETURNS & EXCHANGES
            WE DO NOT OFFER REFUNDS. ALL ITEMS ARE FINAL SALE. WE DO OFFER EXCHANGES ON ALL VINTAGE ITEMS. IN THE RARE OCCASION THAT YOU RECEIVE AN INCORRECT OR MISDESCRIBED ITEM, WE
            HONOR A REFUND ONCE THE ITEM HAS BEEN RETURNED TO US.
        </p>
    </div>
    <br />
    <div>
        <p>
            PLEASE SEND US YOUR INQUIRY WITHIN A TIMELY MANNER TO: CONTACT@UNSOUNDRAGS.COM. BE SURE TO INCLUDE YOUR ORDER NUMBER ALONG WITH THE SPECIFIC ITEM(S) ATTACHED TO YOUR ORDER.
            RETURNED ITEMS MUST BE UNWORN AND INCLUDE TAGS. IF THE ITEM HAS BEEN WORN, WE CANNOT HONOR AN EXCHANGE AND THE ITEM WILL BE SHIPPED BACK TO THE SENDER.
        </p>
    </div>
    <br />
    <div>
        <p>
            SHIPPING COSTS AND FEES FOR INTERNATIONAL RETURNS ARE TO BE COVERED BY THE RECEIVER.
        </p>
    </div>
    <br />
    <div>
        <p>
            SIZING
            DUE TO THE NATURE OF SECONDHAND GARMENTS, A TAGGED SIZE WILL NOT ALWAYS REFLECT THE ACTUAL SIZE. THIS DISCREPANCY IS DUE TO WEAR OVER TIME, WASHING, SHRINKING, AND OTHER VARIABLES. FOR EXAMPLE, A TAGGED LARGE SHIRT FROM THE 1970S WILL FIT DIFFERENT FROM A LARGE SHIRT FROM THE 1990S. THESE INCONSISTENCIES ARE TO BE EXPECTED WITH VINTAGE CLOTHES.
        </p>
    </div>
    <br />
    <div>
        <p>
            WE STRONGLY ENCOURAGE YOU TO MEASURE A FEW OF YOUR FAVORITE FITTING GARMENTS TO COMPARE THEM WHEN YOU’RE MAKING A PURCHASE WITH US. WE DO OUR BEST TO PROVIDE OUR CUSTOMERS WITH ACCURATE MEASUREMENTS FOR EVERY GARMENT LISTED ON OUR SITE. PLEASE CHECK EACH DESCRIPTION BEFORE YOUR PURCHASE.
        </p>
    </div>
    <br />
    <div>
        <p>CONTACT US</p>
        <p>DIRECT MESSAGING</p>
    </div>
    <br />
    <div>
        <p>APPOINTMENTS</p>
        <p>VISIT@UNSOUNDRAGS.COM</p>
    </div>
    <br />
    <div>
        <p>CUSTOMER SERVICE</p>
        <p>CONTACT@UNSOUNDRAGS.COM</p>
        <p>STYLING & PULLS</p>
        <p>FERNANDO@SILVER-LEAGUE.COM</p>
    </div>
</div>
