@model LuigiiLuxury.Domain.ViewModels.ProductFormViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}

<hr class="m-0" />
<div style=" border-bottom: 1px solid #c6c6c6; margin-bottom: 15px;">
    <a href="/Admin/Products/Index" class="text-dark text-decoration-none" style="font-size: 12px; text-transform: uppercase; display: block; padding: 15px 0;"><i class="fa fa-solid fa-chevron-left"></i> back to list of products</a>
</div>

<div style="margin-bottom: 15px;">
    <h5 class="m-0">Product Details</h5>
</div>

<div class="row d-flex justify-content-around">
    <div class="d-inline-flex justify-content-center align-items-center col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 p-0 bg-white">
        <img src="@Url.Content(@Model.Thumbnail)" alt="image" style="width: 100%;" id="blah" />
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 p-0">
        @Html.Partial("_ProductForm", Model)
    </div>
</div>
