@model LuigiiLuxury.Domain.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<div style="min-height: 60vh;" class="row d-flex justify-content-center align-content-center">
    <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
        <div class="" id="">
            @Html.Partial("_Login", Model)
        </div>
    </div>
</div>